$font-family: 'Gilroy', sans-serif;
$second-family: 'Montserrat', sans-serif;
$third-family: 'Roboto', sans-serif;

$tablet-bp: 1000px;
$small-tablet-bp: 768px;
$large-mobile-bp: 480px;
$mobile-bp: 320px;
