<header>
    <div class="header__inner">
        <div class="container">
            <div class="header__top">
                <a href="#" class="logo">
                    <img src="assets/images/logo.svg" alt="Logo" />
                </a>
                <search class="header__search">
                    <form action="">
                        <svg
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fill-rule="evenodd"
                                clip-rule="evenodd"
                                d="M18.319 14.4326C20.7628 11.2941 20.542 6.75347 17.6569 3.86829C14.5327 0.744098 9.46734 0.744098 6.34315 3.86829C3.21895 6.99249 3.21895 12.0578 6.34315 15.182C9.22833 18.0672 13.769 18.2879 16.9075 15.8442C16.921 15.8595 16.9351 15.8745 16.9497 15.8891L21.1924 20.1317C21.5829 20.5223 22.2161 20.5223 22.6066 20.1317C22.9971 19.7412 22.9971 19.1081 22.6066 18.7175L18.364 14.4749C18.3493 14.4603 18.3343 14.4462 18.319 14.4326ZM16.2426 5.28251C18.5858 7.62565 18.5858 11.4246 16.2426 13.7678C13.8995 16.1109 10.1005 16.1109 7.75736 13.7678C5.41421 11.4246 5.41421 7.62565 7.75736 5.28251C10.1005 2.93936 13.8995 2.93936 16.2426 5.28251Z"
                                fill="#8E8E8E"
                            />
                        </svg>
                        <input type="search" placeholder="Пошук" />
                    </form>
                </search>
                <button class="header__call">+380 630 130 103</button>
                <ul class="user-actions__list">
                    <li>
                        <a href="#" class="icon-link">
                            <svg
                                width="40"
                                height="40"
                                viewBox="0 0 40 40"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M26.181 21.1831C29.5304 18.5479 30.8417 14.0795 29.4473 10.0522C28.053 6.025 24.2595 3.32397 19.9977 3.32397C15.7359 3.32397 11.9424 6.025 10.5481 10.0522C9.15371 14.0795 10.465 18.5479 13.8144 21.1831C8.10953 23.4687 4.12539 28.7083 3.4477 34.8165C3.34645 35.7369 4.01056 36.5652 4.93103 36.6665C5.85151 36.7677 6.67978 36.1036 6.78103 35.1831C7.53875 28.4377 13.2432 23.3382 20.031 23.3382C26.8189 23.3382 32.5233 28.4377 33.281 35.1831C33.3749 36.0314 34.0943 36.6716 34.9477 36.6665H35.131C36.0404 36.5618 36.6952 35.7433 36.5977 34.8331C35.9167 28.707 31.9102 23.4569 26.181 21.1831ZM19.9948 19.9995C16.3129 19.9995 13.3281 17.0148 13.3281 13.3329C13.3281 9.65097 16.3129 6.6662 19.9948 6.6662C23.6767 6.6662 26.6615 9.65097 26.6615 13.3329C26.6615 15.101 25.9591 16.7967 24.7088 18.0469C23.4586 19.2972 21.7629 19.9995 19.9948 19.9995Z"
                                    fill="#272525"
                                />
                            </svg>
                        </a>
                    </li>
                    <li class="user-actions__change-languge-item">
                        <ul>
                            <li>
                                <button class="change-languge-btn--active">
                                    UA
                                </button>
                            </li>
                            /
                            <li><button>ENG</button></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header__nav-wrapper">
            <div class="container">
                <div class="header__nav-wrapper-inner">
                    <nav class="menu">
                        <ul>
                            <li><a href="#">Набори</a></li>
                            <li><a href="#">Всі товари</a></li>
                            <li><a href="#">Пошиття</a></li>
                            <li><a href="#">Виробництво</a></li>
                            <li><a href="#">Інформація</a></li>
                        </ul>
                    </nav>
                    <p class="header__sale">Шоппери зі знижкою - 25%</p>
                </div>
            </div>
            <div class="header__sale-baner"></div>
        </div>
        <div class="container">
            <div class="header__intro">
                <div class="header__intro-left">
                    <div class="intro__text">
                        <h1>Свіже дихання у корпоративному житті</h1>
                        <p>
                            Ми удосконалили процес замовлення продукції для того, щоб Ви і Ваша компанія сконцентрувалися на основних завдання і досягали поставлених цілей.
                        </p>
                    </div>
                    <ul class="intro__services-list">
                        <li>
                            <img src="assets/images/service.svg" alt="Service icon"></img>
                            <p>Висока якість <b>ONLY</b></p>
                        </li>
                        <li>
                            <img src="assets/images/service.svg" alt="Service icon">
                            <p>Підтримка менеджера <b>24/7</b></p>
                        </li>
                        <li>
                            <img src="assets/images/service.svg" alt="Service icon">
                            <p>Виконання замовлення у <b>TURBO-режимі</b></p>
                        </li>
                    </ul>
                </div>
                <div class="header__intro-right">
                    <img src="assets/images/header-intro.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</header>
